.hidden {
    display: none;
}

.background {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    background-size: cover;
    background-image: url(https://item.kakaocdn.net/do/ff45d6bba620a0c61cdc0291ef1339728f324a0b9c48f77dbce3a43bd11ce785);
}

img {
  position:absolute;
  width:100%;
  height:100%;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  z-index: -1;
  opacity:80%;
  }